extends layout

block content
	h2 New Blog Post
	form(method='post' action='/blog')
		div
			label(for='title') Title | 
			input(type='text' name='title')
			label(for='content') Content | 
			input(type='text' name='content')
			label(for='postedBy') Posted By | 
			input(type='text' name='postedBy')
			input(type='submit' value='submit' id='submit')

