doctype html
html
	head
		title Mishy Jari || Michelle Frattaroli
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div#header 
			h1#banner { MishyJari }
			h3#sub-banner // Michelle Frattaroli
			div#nav
				a.nav-item(href='/') Home
				a.nav-item(href='/blog') Blog
					a.nav-item(href='/projects') Projects
					a.nav-item(href='/about') About
			div#block-content
				block content
			div#footer
				h6#footer-text Built with Express.js for and by Michelle Frattaroli
